
services:

  flokicoin_peer:
    image: ghcr.io/myfloki/flokicoin:latest
    hostname: mainnet-flokicoin-peer
    container_name: mainnet-flokicoin-peer
    restart: on-failure
    stop_grace_period: 1m
    ports:
      - "15212:15212"
      - "15213:15213"
    volumes:
      - ./data/peer:/node
    command: "lokid -C=/node/lokid.conf --txindex"


  electrum:
    hostname: mainnet-electrum
    container_name: mainnet-electrum
    image: ghcr.io/myfloki/electrs:latest
    ports:
      - "50001:50001" 
      - "3000:3000"
    volumes:
      - ./data/electrum:/data
    environment:
      - DISCORD_WEBHOOK_URL=${DISCORD_WEBHOOK_URL}
    healthcheck:
      test: ["CMD-SHELL", "healthcheck.sh"]
      interval: 1m
      timeout: 10s
      retries: 2
      start_period: 10m
    restart: always
    command: >
      electrs -vvv
        --address-search
        --network mainnet
        --db-dir /data
        --jsonrpc-import
        --daemon-rpc-addr mainnet-flokicoin-peer:15213
        --electrum-rpc-addr 0.0.0.0:50001
        --http-addr 0.0.0.0:3000
        --cookie user:pass
        --enable-json-rpc-logging
        --index-unspendables

  electrum-ws-bridge:
    image: alpine:latest
    container_name: electrum-ws-bridge
    command: /bin/sh -c "apk add --no-cache websocat && websocat --binary --exit-on-eof --ping-interval 30 ws-l:0.0.0.0:5555 tcp:electrum:50001"
    links:
      - electrum
    restart: always

  electrum_ssl:
    hostname: mainnet-electrum-ssl
    container_name: mainnet-electrum-ssl
    image: nginx:1.25-alpine
    depends_on:
      - electrum
      - electrum-ws-bridge
    ports:
      - "50002:50002"
      - "50004:50004"
    volumes:
      - ./data/electrum:/data:ro
      - ./ops/nginx-electrum.conf:/etc/nginx/nginx.conf:ro
    restart: always
